<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<video id="video" width="640" height="480" autoplay></video>
<canvas id="canvas" width="640" height="480"></canvas>
<img id="img" src="" alt="">
<script src="/bower_components/plupload/js/moxie.js"></script>
<script src="/bower_components/plupload/js/plupload.dev.js"></script>
<script src="/bower_components/qiniu/dist/qiniu.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/camera.js"></script>
<script src="/js/index.js"></script>
</body>
</html>