<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/_generated/sprite.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="page-login">
<div class="login-container">
    <div class="login-hd"></div>
    <div class="login-bd">
        <form>
            <label class="user">
                <!--<i class="svg-user svg-user-dims"></i>-->
                <input type="text" id="user" placeholder="请输入账号">
            </label>
            <label class="password">
                <!--<i class="svg-password svg-password-dims"></i>-->
                <input type="password" id="password" placeholder="请输入密码">
            </label>
            <button class="btn" id="login-btn">登录</button>
            <p class="error"></p>
        </form>
    </div>
</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>